.parent {
	text-align: center;
	padding: 10px;
}

.form {
	background-color: #ececec56;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;

	text-align: left;
	width: 80%;
	margin: 10px auto;
}

#form {
	padding: 10px 60px;
}

label {
	display: inline-block;
	width: 10em;
}

input {
	margin-right: 0.5em;
}

.flex {
	padding: 10px;
	display: flex;
}

button {
	padding: 10px;
	margin: 5px;
	width: 50%;
	cursor: pointer;
	color: white;
	background-color: rgb(95, 95, 255);
	border-radius: 5px;
	border: none;
}